<nav class="navbar-techman" >
  <div class="container container-lg">
    <img class="icon-navbar" src="assets/images/logo.png" />
    <div class="navbar-links">
      <a (click)="scrollToSection('home')">Home</a>
      <a (click)="scrollToSection('services')"> {{'services_layout' | transloco}} </a>
      <a (click)="scrollToSection('resources')"> {{'resources_layout' | transloco}} </a>
      <a (click)="scrollToSection('about')"> {{'aboutus_layout' | transloco}} </a>
      <a href="https://medium.com/@TechmanDevops" target="_blank">Blog</a>
      <a (click)="scrollToSection('support')" >{{'contact_layout' | transloco}}</a>
    </div>
    <div class="navbar-buttons">
      <div class="navbar-buttons">
      </div>
    </div>
  </div>
</nav>
