<nav class="navbar-techman" >
  <div class="container container-lg">
    <img class="icon-navbar" src="assets/images/logo.png" />
    <div class="navbar-links">
      <a (click)="scrollToSection('home')">Home</a>
      <a (click)="scrollToSection('services')">Serviços</a>
      <a (click)="scrollToSection('resources')">Recursos</a>
      <a  (click)="scrollToSection('about')">Sobre nós</a>
      <a>Blog</a>
      <a (click)="scrollToSection('support')" >Contato</a>
    </div>
    <div class="navbar-buttons">
      <button (click)="scrollToSection('support')" >FALE CONOSCO</button>
    </div>
  </div>
</nav>
