<div class="info">
  <div class="info__banner">
    <img class="info__banner-image" src="../../../assets/images/equipe.png" />
    <div class="info__banner-container container">
      <div
        class="info__banner-content-title"
        data-aos="fade-left"
        data-aos-delay="200"
      >
        <span>Agilidade, </span>
        <span class="green">Segurança e Qualidade</span>
      </div>
      <div class="info__banner-content-subtitle">
        <span
          >Com DevOps suas equipes trabalham integradas no mesmo projeto,
          garantindo agilidade, segurança e qualidade.</span
        >
      </div>
    </div>
  </div>

  <div class="info__content">
    <div class="info__content-container container">
      <div class="grid-container">
        <div class="grid-item" data-aos="fade-right" data-aos-delay="200">
          <span class="title"> Monitoramento de Aplicações</span>
          <span class="description">
            <mat-icon>arrow_outward </mat-icon>SLAs (Acordos de Serviço)
          </span>
          <span class="description">
            <mat-icon>arrow_outward </mat-icon>
            SLIs (Indicadores do Nível de Serviço)
          </span>
          <span class="description">
            <mat-icon>arrow_outward </mat-icon>
            SLO (Objetivos de Nível de Serviço)
          </span>
        </div>
        <div class="grid-item" data-aos="fade-up" data-aos-delay="200">
          <span class="title"> Implementação de Mudanças</span>
          <span class="description">
            <mat-icon>arrow_outward </mat-icon>Redução de Riscos
          </span>
          <span class="description">
            <mat-icon>arrow_outward </mat-icon>
            Ciclos de Feedbacks
          </span>
          <span class="description">
            <mat-icon>arrow_outward </mat-icon>
            Performance, velocidade e Eficiência
          </span>
        </div>
        <div class="grid-item" data-aos="fade-left" data-aos-delay="200">
          <span class="title"> Gerenciamento Techman</span>
          <span class="description">
            <mat-icon>arrow_outward </mat-icon>Automação, traços e logs
          </span>
          <span class="description">
            <mat-icon>arrow_outward </mat-icon>
            Indicadores de nível de serviço
          </span>
          <span class="description">
            <mat-icon>arrow_outward </mat-icon>
            Decisões arquitetônicas e métricas
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="info__actions">
    <button
      (click)="showForm('support')"
      class="info__actions-button"
      mat-button
    >
      Quero saber mais!
    </button>
  </div>
</div>
