<div class="info">
  <div class="info__banner">
    <img class="info__banner-image" src="../../../assets/images/equipe.png" />
    <div class="info__banner-container container">
      <div
        class="info__banner-content-title"
        data-aos="fade-left"
        data-aos-delay="200"
      >
        <span> {{'info_banner_title' | transloco}} </span>
        <span class="green"> {{'info_banner_title2' | transloco}} </span>
      </div>
      <div class="info__banner-content-subtitle">
        <span
          > {{'info_banner_subtitle' | transloco}} </span
        >
      </div>x
    </div>
  </div>

  <div class="info__content">
    <div class="info__content-container container">
      <div class="grid-container">
        <div class="grid-item" data-aos="fade-right" data-aos-delay="200">
          <span class="title"> {{'title_container1' | transloco}} </span>
          <span class="description">
            <mat-icon>arrow_outward </mat-icon> 
            {{'title_container1_description1' | transloco}}
          </span>
          <span class="description">
            <mat-icon>arrow_outward </mat-icon>
            {{'title_container1_description2' | transloco}}
          </span>
          <span class="description">
            <mat-icon>arrow_outward </mat-icon>
            {{'title_container1_description3' | transloco}}
          </span>
        </div>
        <div class="grid-item" data-aos="fade-up" data-aos-delay="200">
          <span class="title">  {{'title_container2' | transloco}} </span>
          <span class="description">
            <mat-icon>arrow_outward </mat-icon>
            {{'title_container2_description1' | transloco}}
          </span>
          <span class="description">
            <mat-icon>arrow_outward </mat-icon>
            {{'title_container2_description2' | transloco}}
          </span>
          <span class="description">
            <mat-icon>arrow_outward </mat-icon>
            {{'title_container2_description3' | transloco}}
          </span>
        </div>
        <div class="grid-item" data-aos="fade-left" data-aos-delay="200">
          <span class="title">  {{'title_container3' | transloco}} </span>
          <span class="description">
            <mat-icon>arrow_outward </mat-icon>
            {{'title_container3_description1' | transloco}}
          </span>
          <span class="description">
            <mat-icon>arrow_outward </mat-icon>
            {{'title_container3_description2' | transloco}}
          </span>
          <span class="description">
            <mat-icon>arrow_outward </mat-icon>
            {{'title_container3_description3' | transloco}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="info__actions">
    <button
      (click)="showForm('support')"
      class="info__actions-button"
      mat-button
    >
      {{'info_button' | transloco}}
    </button>
  </div>
</div>
