<div class="info">
  <div class="info__banner">
    <img class="info__banner-image" src="../../../assets/images/equipe.png" />
    <div class="info__banner-container container">
      <div
        class="info__banner-content-title"
        data-aos="fade-left"
        data-aos-delay="200"
      >
        <span>Agilidade, </span>
        <span class="green">Segurança e Qualidade</span>
      </div>
      <div class="info__banner-content-subtitle">
        <span
          >Com DevOps suas equipes trabalham integradas no mesmo projeto,
          garantindo agilidade, segurança e qualidade.</span
        >
      </div>
    </div>
  </div>
  <div class="info__content">
    <div class="info__content-container container">
      <div class="info__content-title">
        <span
          >Uma equipe de DevOps produtiva pode gerar lucros significativos
        </span>
      </div>
      <div class="info__content-text">
        <span>
          Ao implementar práticas de DevOps, as equipes podem garantir que o
          software entregue seja de alta qualidade, testado e validado em todos
          os ambientes. Isso reduz o número de bugs e problemas após a
          implantação, economizando tempo e dinheiro em retrabalho.
        </span>
        <span class="text-grey-color">
          As equipes de DevOps podem automatizar muitas tarefas manuais e
          repetitivas, como compilação, teste e implantação, permitindo que os
          desenvolvedores se concentrem em tarefas de alto valor, como
          codificação e inovação, melhorando a eficiência geral da equipe.
        </span>
      </div>
    </div>
  </div>
  <div class="info__actions">
    <button
      (click)="showForm('support')"
      class="info__actions-button"
      mat-button
    >
      Quero saber mais!
    </button>
  </div>
</div>
