<div class="about">
  <img
    class="about__image"
    src="../../../assets/images/sobre.png"
    alt="about"
  />
  <div class="about__container container">
    <div class="about__title">
      <span class="white-text"> Sobre a</span>
      <span class="green-text"> Techman </span>
    </div>

    <div class="about__content">
      <span
        >A missão da empresa e marca é a de propagar a cultura do Devops,
        desenvolvendo um ambiente digital focado em segurança e inovação
        seguindo as melhores práticas conhecidas do mercado, realizando testes e
        evitando atrasos e falhas desnecessários.</span
      >
      <span
        >Os valores da Techman, são os de trazer ao máximo, dentro da cultura de
        Devops, o equilibrio entre vida pessoal e profissional, capacitação e
        justiça social, com o máximo de segurança e proteção que a arquitetura
        em nuvem.</span
      >
      <span
        >Os valores da Techman, são os de trazer ao máximo, dentro da cultura de
        Devops, o equilibrio entre vida pessoal e profissional, capacitação e
        justiça social, com o máximo de segurança e proteção que a arquitetura
        em nuvem.</span
      >
    </div>
  </div>
</div>
