<div class="parallax-home-container">
  <img class="imagem-capa" src="../../../assets/images/capa.png" alt="techman" />
  <div class="container">
    <div data-aos="fade-up" data-aos-delay="500" class="home-wrapper-title">
      <span class="white title-text">DevOps</span>
      <span data-aos-delay="200" class="green-techman"
        > {{'home_title' | transloco}}
      </span>
    </div>
  </div>
  <div class="home-wrapper-list">
    <div class="container">
      <div class="cards-list">
        <div data-aos="fade-right" data-aos-delay="3s00" class="card">
          <mat-icon>done_outline</mat-icon>
          <div class="card-description">
            <span class="description-title">{{'description_title1' | transloco}} </span>
            <span class="description-text">
              {{'description_text1' | transloco}}
            </span>
          </div>
        </div>
        <div data-aos="fade-up" data-aos-delay="300" class="card">
          <mat-icon>done_outline</mat-icon>
          <div class="card-description">
            <span class="description-title"> {{'description_title2' | transloco}} </span>
            <span class="description-text">
              {{'description_text2' | transloco}}
            </span>
          </div>
        </div>
        <div data-aos="fade-left" data-aos-delay="300" class="card">
          <mat-icon>done_outline</mat-icon>
          <div class="card-description">
            <span class="description-title"> {{'description_title3' | transloco}} </span>
            <span class="description-text">
              {{'description_text3' | transloco}}
            </span>
          </div>
        
        </div>
      </div>
      <div class="home-wrapper-about">
        <button class="about-button" onclick="window.open('https://calendly.com/techman-consultancy/30min?back', '_blank')"> {{"home_button" | transloco}} </button>
    </div>
    </div>
</div>
