<div class="parallax-home-container">
  <img class="imagem-capa" src="../../../assets/images/capa.png" alt="techman" />
  <div class="container">
    <div data-aos="fade-up" data-aos-delay="500" class="home-wrapper-title">
      <span class="white title-text">DevOps</span>
      <span data-aos-delay="200" class="green-techman"
        >Benefícios na Prática
      </span>
    </div>
  </div>
  <div class="home-wrapper-list">
    <div class="container">
      <div class="cards-list">
        <div data-aos="fade-right" data-aos-delay="3s00" class="card">
          <mat-icon>done_outline</mat-icon>
          <div class="card-description">
            <span class="description-title"> Reduza </span>
            <span class="description-text">
              Erros e custos no desenvolvimento de seus projetos de software,
              infraestrutura de TI e muito mais.
            </span>
          </div>
        </div>
        <div data-aos="fade-up" data-aos-delay="300" class="card">
          <mat-icon>done_outline</mat-icon>
          <div class="card-description">
            <span class="description-title"> Aumente </span>
            <span class="description-text">
              A produtividade da sua empresa, garantindo qualidade e velocidade
              na entrega de seus projetos.
            </span>
          </div>
        </div>
        <div data-aos="fade-left" data-aos-delay="300" class="card">
          <mat-icon>done_outline</mat-icon>
          <div class="card-description">
            <span class="description-title"> Ganhe </span>
            <span class="description-text">
              Produtividade e Rentabilidade com a implementação de práticas
              ágeis do DevOps
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
