<footer class="footer">
  <div class="container container-lg">
    <mat-toolbar  class="footer-toolbar">
      <a href="https://www.instagram.com/techmandevops/" target="_blank">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a href="https://www.linkedin.com/company/techman-devops/" target="_blank">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </a>
      <a href="https://www.youtube.com/@TechmanDevOps" target="_blank">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/TechmanDevops" target="_blank">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="mailto:contato.techman@gmail.com" target="_blank">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
    </mat-toolbar>
  </div>
</footer>
