<div class="forms">
  <div class="forms__image" fxHide.xs fxShow.sm>
    <img src="assets/images/foguete.png" />
  </div>
  <div class="forms__container container">
    <div class="forms__title">
      <span>Deixe seus dados e logo entraremos em contato!</span>
    </div>
    <form
      class="techman-form"
      [formGroup]="contatoForm"
      (ngSubmit)="enviarFormulario()"
    >
      <mat-form-field class="form-control">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Digite o nome" formControlName="nome" />
        <mat-error
          *ngIf="
            contatoForm.controls['nome'].invalid &&
            (contatoForm.controls['nome'].dirty ||
              contatoForm.controls['nome'].touched)
          "
        >
          Nome é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-control">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Digite o email" formControlName="email" />
        <mat-error
          *ngIf="
            contatoForm.controls['email'].invalid &&
            (contatoForm.controls['email'].dirty ||
              contatoForm.controls['email'].touched)
          "
        >
          Email inválido
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-control">
        <mat-label>Nome da Empresa</mat-label>
        <input
          matInput
          placeholder="Digite o nome da empresa"
          formControlName="nomeEmpresa"
        />
      </mat-form-field>

      <button mat-raised-button class="btn">Entrar em contato!</button>
    </form>
  </div>
</div>
