<div class="container">
  <div class="service-content">
    <div class="title-content">
      <span>
        {{'service_content_title'| transloco}}</span
      >
    </div>
    <div class="card-list">
      <div
        class="card"
        data-aos-delay="200"
        [attr.data-aos]="card.fade"
        *ngFor="let card of serviceInfos"
      >
        <div class="card-title">
          <mat-icon> {{ card.icon }} </mat-icon>
          <span>{{ card.title }}</span>
        </div>
        <div class="card-description">
          <span class="card-description__title">
            {{ card.subtitle }}
          </span>
          <a  class="card-description__expand-button" *ngIf="isMobile()" (click)="toggleMore(card.id)">
            <mat-icon>    {{ showMore[card.id] ? 'expand_less' : 'expand_more' }}</mat-icon>
          </a>
          <span class="card-description__text" *ngIf="!isMobile()"
            >{{ card.text }}
          </span>
          <ng-container *ngIf="showMore[card.id] && isMobile()" >
            <span data-aos="zoom-in" class="card-description__text">{{ card.text }}</span>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="actions-service__content">
      <button
        (click)="showForm('support')"
        class="actions-service__button"
        mat-button
      >
        {{'info_button' | transloco}}
      </button>
    </div>
  </div>

  <div class="language-buttons">
    <ng-container *ngFor="let language of languages">
      <button mat-button (click)="changeLanguage(language.value)">
        <img class="flag-icon" [src]="language.flag" alt="{{ language.alt }}" />
      </button>
    </ng-container>
  </div>
</div>
